.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 408px;
  width: 200px;
  border: 1px solid #f3f3f3;
  align-items: center;
  padding: 32px 16px 16px;
  box-sizing: border-box;
  transition: transform 0.3s;
}
.card__name {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  padding-bottom: 4px;
  transition: color 0.3s;
}
.card:hover {
  position: relative;
  z-index: 1;
  transform: scale(1.2);
}
.card:hover .card__name {
  color: #34568b;
}
.card__top {
  display: flex;
  width: 100%;
  height: 134px;
  justify-content: center;
  margin-bottom: 40px;
}
.card__image {
  max-width: 160px;
}
.card__content {
  margin-bottom: 16px;
}
.card__code {
  color: #616070;
  line-height: 14px;
  letter-spacing: 0%;
}
.card__rating {
  width: 100%;
  height: 16px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  align-items: center;
}
.card__review {
  line-height: 14px;
  letter-spacing: 0%;
}
.card__price {
  width: 100%;
  height: 18px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.card__price-name {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  color: #616070;
}
.card__price-value {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0%;
}
.card__button {
  height: 40px;
  background-color: #00acdc;
  color: white;
  width: 100%;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  border: none;
  transition: color 0.3s, background-color 0.3s;
}
.card__button:hover {
  background-color: white;
  color: #00acdc;
  border: 1px solid;
}

.header {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

.nav {
  margin-right: 50px;
}

.nav__list {
  display: flex;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.header__logo {
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
  width: 40px;
}

.nav__link {
  text-transform: uppercase;
  display: block;
  height: 15px;
  line-height: 15px;
  padding-top: 23px;
  padding-bottom: 22px;
  color: #060b35;
  text-decoration: none;
  transition: color 0.3s;
}

.nav__link:hover {
  color: #00acdc;
}

.nav__item {
  margin-right: 0;
}

.nav__item:not(:first-child) {
  margin-left: 20px;
}

.is-active {
  color: #00acdc;
  position: relative;
}

.is-active::after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background-color: #00acdc;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
}

.stars {
  display: flex;
  margin: 0;
  padding: 0;
}
.stars__star {
  height: 16px;
  width: 16px;
  background-image: url(../images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.stars__star:not(:last-child) {
  margin-right: 4px;
}

.stars--0 .stars__star:nth-child(-n+0) {
  background-image: url(../images/star-active.svg);
}

.stars--1 .stars__star:nth-child(-n+1) {
  background-image: url(../images/star-active.svg);
}

.stars--2 .stars__star:nth-child(-n+2) {
  background-image: url(../images/star-active.svg);
}

.stars--3 .stars__star:nth-child(-n+3) {
  background-image: url(../images/star-active.svg);
}

.stars--4 .stars__star:nth-child(-n+4) {
  background-image: url(../images/star-active.svg);
}

.stars--5 .stars__star:nth-child(-n+5) {
  background-image: url(../images/star-active.svg);
}

.catalog {
  --column-count: 1;
  box-sizing: border-box;
  padding: 50px 40px;
  display: grid;
  grid-template-columns: repeat(var(--column-count), 200px);
  gap: 46px 48px;
  justify-content: center;
  overflow: visible;
}

@media (min-width: 488px) {
  .catalog {
    --column-count: 2;
  }
}
@media (min-width: 768px) {
  .catalog {
    --column-count: 3;
  }
}
@media (min-width: 1024px) {
  .catalog {
    --column-count: 4;
  }
}
body {
  margin: 0;
}

html {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #060b35;
}

/*# sourceMappingURL=style.css.map */
